<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>About Weather</title>
</head>

<body>
    <div id="wrapper">
        <div class="main-content">
            {{>header}}
            <img class="weather-image" src="/img/weather.jpg" alt="">
            This is a personal project incorporating geocode and weather API's. It runs on NODE.JS.<br>
            Geocode data is provided by the <a href="https://www.mapbox.com/"> Mapbox API</a><br>
            Weather information is provided by the <a href="https://www.climacell.co/">Climacell API</a> via custom API
            endpoints setup on the webserver.
        </div>

        {{>footer}}
    </div>
</body>

</html>