<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Weather Help</title>
</head>

<body>
    <div id="wrapper">
        <div class="main-content">
            {{>header}}
            <p> This is a work in progress. Currently you can type any address you like. Formats include: <br>
                City State (New York NY)<br>
                City Country (Paris France) <br>
                Whole are partial address (122 Main st Miami) <br>
            </p>
            <p>
                The Geocode API will attempt to find the best address based on your search, and return the weather.
            </p>
        </div>

        {{>footer}}
    </div>
</body>

</html>