<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Use this site to get local weather.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,500;1,600&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>WEATHER</title>
</head>

<body>
    <div id="wrapper">
        <div class="main-content">
            <div class="top-content">
                {{>header}}
                <p>Use this site for weather!</p>
                <form action="">
                    <input placeholder="Location" class="search" type="text">
                    <br>

                    <button class="search-button">SEARCH</button>
                </form>

            </div>
            <div id="weather-content" class="weather">
                <div id="current-weather-content">
                    <p id="weather-head"></p>
                    <div class="current-left-div">
                        <span id="current-temp" class='current-temp'></span>
                        <p class="rain-chance"></p>
                    </div>

                    <div class="current-right-div">
                        <p id="weather-code"></p>
                        <p id="feels-like"></p>
                        <p id="current-winds"></p>
                        <p id="humidity"></p>
                        <p id="precip"></p>
                    </div>

                    <button class="tablink" id="hourly-tab-button">24 HOUR FORECAST</button>
                    <button class="tablink" id='daily-tab-button'>5 DAY FORECAST</button>

                    <br>

                </div>
                <div id="forecast-weather-content" class="tabcontent">
                    <p id="forecast-precip-chance"></p>
                </div>
                <div id="forecast-daily-content" class="tabcontent">
                </div>

                <div class="climacell-attribute"><img src="/img/powered_by_climacell_black.svg" alt="climacell icon"
                        class="climacell-icon"></div>
                <div class="attribution">Icons made by <a href="https://www.flaticon.com/authors/good-ware"
                        title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/"
                        title="Flaticon">www.flaticon.com</a>
                </div>
            </div>

        </div>
        {{>footer}}
    </div>

    <script src="/js/app.js"></script>
</body>

</html>