:root {
    --main-color: #111d5e;
    --colorful-text: #c70039;
    --object-background-color: #c4c4c4;
    --object-background-color-hover: #696969;
    --object-text-color: #7a0101;
}

body {
    color: rgb(221, 221, 221);
    background: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#wrapper {
    position: relative;
    width: 100vw;
    

}

#title{
    font-size: 2.5em;
    margin-bottom: 16px;
    font-weight: bolder;
    color: rgb(255, 0, 0);
}

#current-weather-content {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.current-temp {
    font-size: 3em;
}


.weather-image {
    width: 250px;
    border: var(--colorful-text) solid;
    border-radius: 50px;
    display: block;
    margin-bottom: 15px;
    object-fit:cover;
}

header {
    margin: 16px 0 48px 0;
}


.main-content {
    margin: 0 auto;
    padding-bottom: 100px;
    width: 100vw;
}
form {
    position: relative;
    max-width: 40%;
}


@media (min-width: 651px) {
    .top-content {
        width: 70vw;
        margin: 0 auto 0 25%;
    }

    #weather-content {
        padding: 10px 5px;
        margin: auto;
        width: 60%
    }
}
@media (max-width:650px) {
    .top-content {
        width: 80%;
        margin: 0 20% 0 15%;
    }

    #weather-content {
        padding: 10px 5px;
        width: 90%;
        margin: auto;
    }
}

.large-condition-icon {
    display: block;
}
footer {
    height: 75px;
    margin: auto;
    width: 80%;
    bottom: 0px;;
}

.footerText {
    color: rgb(207, 207, 207);
    padding-left: 15px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
}

header a {
    color: var(--colorful-text);
    font-size: 1.3em;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    color: rgb(194, 4, 4);
    text-decoration: underline;
}

.weather-border {
    border: rgb(114, 114, 114) solid;
    border-radius: 15px;
    padding: 25px;
    margin-top: 25px;
    position: relative;
}

.search {
    border: 1px solid var(--object-background-color);
    background: var(--object-background-color);
    color: var(--colorful-text);
    font-size: 1.5 em;
    font-weight: bold;
    border-radius: 15px;
    padding: 8px;
    outline: none;
}
.search:hover {
    background: rgb(185, 185, 185);
}

.search:focus{
    border: 2px white;
}
.search-button {
    cursor: pointer;
    border: 1px solid rgb(114, 114, 114);
    background: var(--object-background-color);
    color: var(--colorful-text);
    font-weight: bolder;
    height: 25px;
    width: 80px;
    margin: 8px 0px 8px 0px;
    border-radius: 15px;
}

.search-button:hover {
    background: var(--object-background-color-hover);
    color: rgb(255, 85, 85);

}

#weather-head {
    text-align: center;
    grid-column: span 2;
}

.forecast-hourly-div {
    display: grid;
    grid-template-columns: 50% 50%;
}

#forecast-precip-chance {
    color: black;
}

.forecast-hour-div-day {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 0px;
    color: black;
    padding-left: 15%;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(74,207,241,1) 22%, rgba(74,207,241,1) 72%, rgba(255,255,255,1) 100%);
}
.forecast-hour-div-night {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 0px;
    color: white;
    padding-left: 15%;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(85,113,239);
background: linear-gradient(90deg, rgba(85,113,239,1) 0%, rgba(28,49,165,1) 22%, rgba(28,49,165,1) 72%, rgba(85,113,239,1) 100%);
}


.forecast-hour-time {
    text-align: right;
    grid-column: span 2;
    text-decoration: underline;
    font-size: 1.3em;
    margin: 5px 10px 2px -20px;
    background-color: rgb(121, 119, 253);
    color: black;
}

.date-span {
    float: left;
    font-weight: bolder;
    color: white;
}

.small-condition-div{
    display: inline-block;
    position: absolute;
}

.hour-left-div {
    grid-row: span 3;
}

.hour-right-div {
    grid-row: span 3;
}

.forecast-hour-temp {
    padding: 0;
    margin: 2px;
    margin-top: -20px;
    font-size: 1.5em;
}

.forecast-hour-rain {
    padding: 0;
    margin: 0;
}

.attribution {
    padding-top: 5px;
    font-size: .75em;
}

.climacell-icon {
    width: 40%;
}

.error {
    position: absolute;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    color: white;
    grid-column: span 2;
}