:root {
    --main-color: #111d5e;
    --colorful-text: #c70039;
    --object-background-color: #c4c4c4;
    --object-background-color-hover: #696969;
    --object-text-color: #7a0101;
    --div-background-color: rgb(255, 255, 255);
    --daily-div-background: #dcff7b;
    --daily-div-background-hover: #ff9f44;
    
}

body {
    color: rgb(221, 221, 221);
    background: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;
}



#title{
    font-size: 2.5em;
    margin-bottom: 16px;
    font-weight: bolder;
    color: rgb(255, 0, 0);
}

#current-weather-content {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.current-temp {
    font-size: 3em;
}


.weather-image {
    width: 250px;
    border: var(--colorful-text) solid;
    border-radius: 50px;
    display: block;
    margin-bottom: 15px;
    object-fit:cover;
}

header {
    margin: 16px 0 48px 0;
}


.main-content {
    margin: 0 auto;
    padding-bottom: 100px;
    width: 95vw;
}

/*
MEDIA QUERIES
*/

/* Large Displays */
@media (min-width: 651px) {
    #wrapper {
        position: relative;
        width: 95vw;
    }

    .top-content {
        width: 80%;
        margin: 0 auto 0 20%;
    }

    #weather-content {
        padding: 10px 5px;
        margin: auto;
        width: 60%
    }

    form {
        position: relative;
        max-width: 80%;
    }

    .daily-forecast-list {
        max-height: 600px;
        overflow-y: scroll;
    }

    .daily-forecast-list{
        height: 600px;
        overflow-y: scroll;
    }
}

/* Small Displays */
@media (max-width:650px) {
    #wrapper {
        position: relative;
        width: 100vw;
    }

    .top-content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #weather-content {
        padding: 10px 5px;
        width: 90%;
        margin: auto;
    }
    form {
        position: relative;
        max-width: 100%;
    
    }

    .daily-forecast-list{
        height: 350px;
        overflow-y: scroll;
    }
}

.large-condition-icon {
    display: block;
    padding-top: 10px;
}
footer {
    height: 75px;
    margin: auto;
    width: 80%;
    bottom: 0px;;
}

.footerText {
    color: rgb(207, 207, 207);
    padding-left: 15px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
}

header a {
    color: var(--colorful-text);
    font-size: 1.3em;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    color: rgb(194, 4, 4);
    text-decoration: underline;
}

.weather-border {
    border: rgb(114, 114, 114) solid;
    border-radius: 15px;
    padding: 25px;
    margin-top: 25px;
    position: relative;
}

.search {
    border: 1px solid var(--object-background-color);
    background: var(--object-background-color);
    color: var(--colorful-text);
    font-size: 1.5 em;
    font-weight: bold;
    border-radius: 15px;
    padding: 8px;
    outline: none;
    width: 300px;
}
.search:hover {
    background: rgb(185, 185, 185);
}

.search:focus{
    border: 2px white;
}
.function-buttons {
    cursor: pointer;
    border: 1px solid rgb(114, 114, 114);
    background: var(--object-background-color);
    color: var(--colorful-text);
    font-weight: bolder;
    height: 25px;
    width: 150px;
    margin: 8px 0px 8px 0px;
    border-radius: 15px;
    position: relative;
    bottom: 20px;
}

.function-buttons:hover {
    background: var(--object-background-color-hover);
    color: rgb(255, 85, 85);
}

#search-button {
    margin-right: 18px;
}

#weather-head {
    text-align: center;
    grid-column: span 2;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
}

/* #region HOURLY FORECAST STYLES*/
.forecast-hourly-div {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    overflow-y: auto;
}

#forecast-precip-chance {
    color: black;
}

.forecast-hour-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    height: 100px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 15%;
    padding-right: 3px;
    border: 1px solid black;
    border-radius: 5px;
   
}
/* .forecast-hour-div-night {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 0px;

    padding-left: 15%;
    border: 1px solid black;
    border-radius: 5px;
   
} */

.day {
    color: black;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(74,207,241,1) 22%, rgba(74,207,241,1) 72%, rgba(255,255,255,1) 100%);
}

.night {
    color: white;
    background: rgb(85,113,239);
    background: linear-gradient(90deg, rgba(85,113,239,1) 0%, rgba(28,49,165,1) 22%, rgba(28,49,165,1) 72%, rgba(85,113,239,1) 100%);
}


.forecast-hour-time {
    text-align: right;
    grid-column: span 2;
    text-decoration: underline;
    font-size: 1em;
    margin: 5px 10px 2px -20px;
    width: 100%;
    border-bottom: solid 1px black;
    color: black;
}

.date-span {
    float: left;
    font-weight: bolder;
    color: white;
    font-size: .75em;
}

.small-condition-div{
    display: inline-block;
    position: relative;
}


.hour-left-div {
    grid-row: span 3;
    padding-top: 5px;
}

.hour-right-div {
    grid-row: span 3;
    padding-top: 5px;
}

.forecast-hour-temp {
    padding: 0;
    margin: 2px;
    margin-top: -20px;
    font-size: 2em;
}

.forecast-hour-rain {
    padding: 0;
    margin: 0;
}
/* #endregion */

/* #region DAILY FORECAST STYLES */



.forecast-daily-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30%;
    border: solid black 2px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background: rgb(1,50,117);
    background: linear-gradient(180deg, rgba(1,50,117,1) 0%, rgba(39,75,106,1) 29%, rgba(253,219,45,1) 87%, rgba(253,107,45,1) 99%);    
    padding-bottom: 15px;
}

.forecast-daily-div:hover {
    filter: saturate(250%);
}

.forecast-day-date{
    grid-column: span 2;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    border-bottom: solid 1px black;
    margin: auto;
    color: rgb(212, 211, 211);
}

.day-right-div {
    text-align: center;
}

.day-left-div {
    padding-left: 10px;
}


/* #endregion */

.attribution {
    padding-top: 5px;
    font-size: .75em;
}

.climacell-icon {
    width: 40%;
    margin-top: 5px;
}

.error {
    position: absolute;
    padding: 15px;
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    color: white;
    grid-column: span 2;
}

/* #region TAB STYLES*/
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-bottom: -20px;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }


  .tabcontent {
    color: white;
    display: none;
  }

  #forecast-weather-content {
      background-color: var(--div-background-color);

  }

  #forecast-daily-content {
      color: white;
      background-color: var(--div-background-color);
  
  }
/* #endregion */