

body {
    color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#wrapper {
    position: relative;
    width: 100vw;
    

}

#title{
    font-size: 2.5em;
    margin-bottom: 16px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.weather-image {
    width: 250px;
    border: #ff3300 solid;
    border-radius: 50px;
    display: block;
    margin-bottom: 15px;
    object-fit:cover;
}

header {
    margin: 16px 0 48px 0;
}


.main-content {
    margin: 0 auto;
    padding-bottom: 100px;
    width: 100vw;
}
form {
    position: relative;
    max-width: 40%;
}
@media (min-width: 651px) {
    .top-content {
        width: 70vw;
        margin: 0 auto 0 30%;
    }

    #weather-content {
        padding: 10px 5px;
        margin: auto;
        width: fit-content;
    }
}
@media (max-width:650px) {
    .top-content {
        width: 80%;
        margin: 0 auto 0 30%;
    }

    #weather-content {
        padding: 10px 5px;
        width: 90%;
        margin: auto;
    }
}

footer {
    border-top: 10px solid #ff3300;
    height: 75px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    background-color: rgb(6, 89, 245);
    display: table;
    position: absolute;
    bottom: 0px;;
}

.footerText {
    color: rgb(248, 248, 248);
    padding-left: 15px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
}

header a {
    color: rgb(114, 114, 114);
    font-size: 1.3em;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    color: rgb(12, 12, 12);
    text-decoration: underline;
}

.weather-border {
    border: rgb(114, 114, 114) solid;
    padding: 25px;
    margin-top: 25px;
    position: relative;
}

.slider {
    appearance: none;
    height: 25px;
    background: rgb(114, 114, 114);
    outline: none;
    transition: 0.2;
    border-radius: 50px;
}

.slider:hover {
    background: rgb(82, 81, 81);
}

.slider::-webkit-slider-thumb {
    appearance: none;
    background: #ff3300;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

#hours-label {
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    bottom: 5px;
}
.search {
    border: 1px solid rgb(114, 114, 114);
    padding: 8px;
}
.search:hover {
    background: rgb(230, 230, 230);;
}
.search-button {
    cursor: pointer;
    border: 1px solid rgb(114, 114, 114);
    background: rgb(114, 114, 114);
    color: white;
    height: 25px;
    width: 80px;
    margin: 8px 0px 8px 0px;
}

.search-button:hover {
    background: rgb(82, 81, 81);

}